body{
    
    color:#1d3c45;
    background-color:#fff1e1;
}
.container{
    display: grid;
    height:200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.3fr;
    grid-template-areas: 
    'header header'
    'me me'
    'education education'
    'work work'
    'footer footer';
    grid-gap: 10px;

}
header{
    grid-area: header;
}
.menu{
    top:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    display:block;
    margin: 20px;
    background-color: #d2601a;
    
}
.menu a:hover{
    background-color: #fff1e1;
    font-family:serif;
}
.links{
    padding:20px;
    text-decoration: none;
    color:black;
    border-radius: 5px;
}
.me{
    display: flex;
    grid-area: me;
    background-color:#fff1e1;
}
.myprofilepic{
    width:1000px;
    display:block;
    padding: 70px;
    text-align: center;
    
}
#mypic{
    width:75%;
    border-radius: 50%;
    box-shadow: 0 10px 10px black;
}
.aboutme{
    font-family: cursive;
     padding:70px;
     text-align: center;
 }
.education{
    grid-area: education;
    background-color:#fff1e1;
}
.Education{
    text-align: center;
    padding-left: 10px;
    border:2px;
    box-shadow: 
    0 0 0 2px #d2601a,
    0 0 0 4px #fff1e1;
    border-radius: 50px;
    margin:30px;
}
.education{
    font-family:cursive;
    height:100%;
    width:100%;
    display: flex;
    padding-left:10px;
    
}

.Projects{
    text-align: center;
    margin:30px;
    border:2px;
    box-shadow: 
    0 0 0 2px #d2601a, /* Outer border */
    0 0 0 4px #fff1e1;
    border-radius: 50px;
    padding-left:10px;
    

}
.educationphotos{
    height:50px;
    width:50px;
    padding:10px;
    border-radius: 50%;
   
}
.school{
    display:flex;
}
.bachelors{
    display:flex;
}
.masters{
    display: flex;
}
.work{
    grid-area: work;
    background-color:#fff1e1;
    font-family:cursive;
    height:100%;
    width:100%;
    padding-left: 10px;
    display:flex;
    justify-content:space-around;
}
.skills{
    text-align: center;
    margin-left: 30px;
    margin:20px;
    border:2px;
    padding:10px;
    box-shadow: 
    0 0 0 2px #d2601a, /* Outer border */
    0 0 0 4px #fff1e1;
    padding-left: 10px;
    border-radius: 30px;
    width:20%;
}
.experience{
    text-align: center;
    padding-left: 10px;
    margin:20px;
    border:2px;
    padding:10px;
    box-shadow: 
    0 0 0 2px #d2601a, /* Outer border */
    0 0 0 4px #fff1e1;
    border-radius: 30px;
    width:33%;
}
.blogs{
    text-align: center;
    margin:20px;
    border:2px;
    padding:10px;
    box-shadow: 
    0 0 0 2px #d2601a, /* Outer border */
    0 0 0 4px #fff1e1;
    border-radius: 30px;
    width:33%;
    padding:10px;
}
.phone{
    display:flex;
    align-items: center;
}


footer {
    grid-area: footer;
    background-color: #d2601a;
    justify-content: center;
    height:100%; 
    display:flex;
}
footer .contactphoto:hover{
    box-shadow: 0 0 10px 10px #fff1e1;
}
.phoneimg{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px; 
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contactphoto {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px; 
    align-items: center;
}
.returntotop{
    display:block;
}

.phone{
    display: flex;
    margin: 10px;
}
.mobile-menu{
    display:none;
}
.hamburger{
    display: none;
}
#return-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: 0 0 0 0.1;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #return-to-top:hover {
    background:orange;
  }
@media only screen and (max-width:500px)
{
    .container{
        width:100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        'header'
        'me'
        'education'
        'work'
        'footer';
        grid-gap: 0px;
    }
    header{
        grid-area: header;
        background-color: #d2601a;
    }
    .menu{
        width:100%;
        display:none;
    }
    header {
        justify-content: flex-start;
      }
      header .hamburger{
        text-align: right;
      }
      .name{
        padding-left:150px;
      }
      .hamburger{
        position: relative;
        display:block;
        width:35px;
        cursor:pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
      }
      .hamburger .bar,.hamburger:after,.hamburger:before{
        content: '';
        display:block;
        width:100%;
        background-color:#fff1e1;
        height:4px;
        margin:7px 0px;
        transition: 0.4s;
    
      }
      .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-6px,10px);
    
      }
      .hamburger.is-active:after{
        transform: rotate(45deg) translate(-6px,-10px);
    
      }
      .hamburger.is-active .bar{
       opacity: 0;
    
      }
      .mobile-menu{
        display: block;
        position: fixed;
        top:10%;
        left:100%;
        width:400px;
        height:200px;
        z-index: 98;
        background-color:rgba(255, 241, 255, 0.7) ;
        transition: 0.4s;
        
    }
    .mobile-menu.is-active{
        left:0;
    
    }
    .mobile-menu a{
        display:block;
        text-align:center;
        margin-bottom: 5px;
        padding:5px;
        background-color:rgb(210, 96, 26,0.7);
        color:#1d3c45;
    
    }
    .mobile-menu :hover{
        background-color: #fff1e1;
    }
    
    .me{
        display: block;
        grid-area: me;
    }
    .myprofilepic{
        width:500px;
        display:block;
        text-align: center;
        
    }
    .aboutme{
        font-family: Verdana, Geneva, Tahoma, sans-serifs;
         text-align: center;
         padding:10px;
     }
     #mypic{
        width:50%;
        border-radius: 50%;
        box-shadow: 0 10px 10px black;
    }
    .education{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: block;
        grid-area: education;
    }
    .Education{
        text-align: center;
        border:2px;
        box-shadow: 
        0 0 0 2px #d2601a,
        0 0 0 4px rgb(255, 241, 225);
        border-radius: 50px;
        margin:10px;
    }
    
    .Projects{
        text-align: center;
        margin:10px;
        border:2px;
        box-shadow: 
        0 0 0 2px #d2601a, /* Outer border */
        0 0 0 4px #fff1e1;
        border-radius: 50px;
        
    
    }
    .work{
        display: block;
        grid-area: work;
    }
    .skills{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin:10px;
        border:2px;
        box-shadow: 
        0 0 0 2px #d2601a, /* Outer border */
        0 0 0 4px #fff1e1;
        border-radius: 30px;
        width:93%;
    }
    .experience{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin:10px;
        border:2px;
        box-shadow: 
        0 0 0 2px #d2601a, /* Outer border */
        0 0 0 4px #fff1e1;
        border-radius: 30px;
        width:93%;
    }
    .blogs{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin:10px;
        border:2px;
        box-shadow: 
        0 0 0 2px #d2601a, /* Outer border */
        0 0 0 4px #fff1e1;
        border-radius: 30px;
        width:93%;
    }
    footer{
        grid-area: footer;
        justify-content: center;
    }
}
